@model Dynamics.Models.Models.Organization

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Organization</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrganizationID" />
            <div class="form-group">
                <label asp-for="OrganizationName" class="control-label"></label>
                <input asp-for="OrganizationName" class="form-control" />
                <span asp-validation-for="OrganizationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationDescription" class="control-label"></label>
                <input asp-for="OrganizationDescription" class="form-control" />
                <span asp-validation-for="OrganizationDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationPictures" class="control-label"></label>
                <input asp-for="OrganizationPictures" class="form-control" />
                <span asp-validation-for="OrganizationPictures" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShutdownDay" class="control-label"></label>
                <input asp-for="ShutdownDay" class="form-control" />
                <span asp-validation-for="ShutdownDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CEOID" class="control-label"></label>
                <input asp-for="CEOID" class="form-control" />
                <span asp-validation-for="CEOID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isBanned" /> @Html.DisplayNameFor(model => model.isBanned)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
