
@{
    ViewData["Title"] = "CreateProject";

}


<div class="container  my-5 pt-12 flex justify-center items-center">
    <div class=" bg-white p-8 rounded-lg shadow-lg">
        <div class="flex justify-center items-center py-5 my-5">
            <h1 class="text-3xl font-semibold mx-5">Create a new project</h1>
            <div class="flex items-center mx-5">
                <span class="text-3xl mr-2 font-semibold">or:</span>
                <button class="bg-gray-600 text-white px-4 font-semibold py-2 rounded text-lg">Import data from request</button>
            </div>
        </div>

        <div class="w-full">
            <div class="border border-solid border-gray-500 rounded-box px-5 py-5 w-auto">
                <form class="py-5 px-5" asp-action="CreateProject" asp-controller="Project" method="post">

                    <div class="grid grid-cols-2 gap-6 mb-6">

                        <div>
                            <label for="project-name" class="block text-base font-medium text-gray-700 mb-1">Enter project name</label>
                            <input type="text" id="project-name" class="w-full p-2 border border-gray-300 rounded"
                                   placeholder="Enter your name">
                        </div>

                        <div>
                            <div class="flex items-center">
                                <label class="block text-base font-medium text-gray-700 mb-1 mr-5">Upload project images</label>
                                <div class="flex items-center">
                                    <label for="file-upload" class="file-upload-label px-4 py-2 mx-4 bg-blue-900 text-white rounded text-base">
                                        <span>Choose images</span>
                                    </label>
                                    <input id="file-upload" type="file" name="image" class="hidden">
                                </div>
                            </div>

                            <p class="text-sm text-gray-500 mt-3">The images will appear in your project covers and description</p>
                        </div>
                    </div>

                    <div class="mb-6">
                        <label for="project-description" class="block text-base font-medium text-gray-700 mb-1">
                            Enter project
                            description
                        </label>
                        <textarea id="project-description" rows="4" class="w-full p-2 border border-gray-300 rounded"
                                  placeholder="Enter your text"></textarea>
                    </div>
                    <div class="mb-6">
                        <label for="project-contact" class="block text-base font-medium text-gray-700 mb-1">
                            Enter project contact
                            details
                        </label>
                        <textarea id="project-contact" rows="4" class="w-full p-2 border border-gray-300 rounded"
                                  placeholder="Enter your text"></textarea>
                    </div>

                    <div class="grid grid-cols-2 gap-6 mb-6">
                        <div class="w-full">
                            <label for="start-time" class="block text-base font-medium text-gray-700 mb-1">
                                Select a project start
                                time
                            </label>
                            <input type="datetime-local" id="start-time" class="w-full p-2 border rounded">
                            <p class="text-sm text-gray-500 mt-1">
                                The date that your project starts. Before that, your project will
                                continue to receive donations.
                            </p>
                        </div>
                        <div class="w-full ">
                            <label for="end-time" class="block text-base font-medium text-gray-700 mb-1">
                                Select a project end time
                                (estimated)
                            </label>
                            <input type="datetime-local" id="end-time" class="w-full p-2 border rounded">
                            <p class="text-sm text-gray-500 mt-1">The estimated date that your project will end.</p>
                        </div>
                    </div>

                    <div class="grid grid-cols-2 gap-6 mb-6">
                        <div>
                            <label for="project-lead" class="block text-base font-medium text-gray-700 mb-1">
                                Assign a member to lead this
                                project (Optional)
                            </label>
                            <select id="project-lead" class="w-full p-2 border border-gray-300 rounded">
                                <option>Options</option>
                            </select>
                        </div>
                        <div>
                            <label for="invite-members" class="block text-base font-medium text-gray-700 mb-1">
                                Invite members from your
                                organization
                            </label>
                            <select id="invite-members" class="w-full p-2 border border-gray-300 rounded">
                                <option>Options</option>
                            </select>
                        </div>
                    </div>

                    <div class="border border-solid border-gray-500 rounded-box px-5 py-5 mt-10 w-auto">
                        <form class="py-5">

                            <div class="py-5">
                                <h1 class="text-2xl text-center font-medium mb-2">Add expected resources to your project</h1>
                            </div>

                            <div class="flex mb-4 justify-around">

                                <div class="w-1\/4 ">
                                    <label class="block text-base text-center font-medium text-gray-700 mb-1">
                                        resource type
                                    </label>
                                    <select class="w-full py-2 px-5 mx-5 border border-gray-300 rounded-btn">
                                        <option>Options</option>
                                    </select>
                                </div>

                                <div class="w-1\/4 mx-2">
                                    <label for="resouce-type" class="block text-base text-center font-medium text-gray-700 mb-1">
                                        Resource name
                                    </label>
                                    <input type="text" class="w-full p-2 mx-5 border border-gray-300 rounded-btn" placeholder="Resource name">
                                </div>

                                <div class="w-1\/4 mx-2">
                                    <label for="resouce-type" class="block text-base text-center font-medium text-gray-700 mb-1">
                                        Quantity
                                    </label>
                                    <input type="number" class="w-full p-2 mx-5 border border-gray-300 rounded-btn" placeholder="Enter quantity">
                                </div>

                                <div class="w-1\/4 mx-2">
                                    <label for="resouce-type" class="block text-base text-center font-medium text-gray-700 mb-1">
                                        Unit
                                    </label>
                                    <input type="text" class="w-full p-2 mx-5 border border-gray-300 rounded-btn" placeholder="Enter unit">
                                </div>
                            </div>

                            <div class="flex justify-center">
                                <button class="bg-blue-900 text-white px-4 py-2 rounded mt-10">Add to project</button>
                            </div>
                        </form>
                    </div>
                    
                    <div>
                        <div class="mt-10">
                            <h3 class="font-medium text-xl text-center ">Expected project resources:</h3>
                            <p class="text-sm text-center text-gray-500 mt-1">
                                These resource will tell user what to donate to your project
                            </p>
                        </div>
                        <div class="flex justify-center mt-6">
                            <div class=" px-5 py-5 border border-solid border-gray-500 rounded-box w-auto">
                                <ul class="space-y-2">

                                    @for (int i = 0; i < 4; i++)
                                    {
                                        <li class="flex items-center justify-between bg-white shadow-xl px-5 py-4 rounded-box ">
                                            <div class="flex items-center gap-2">
                                                <span class="text-gray-500 text-sm font-semibold">1.</span>

                                                <img src="https://via.placeholder.com/32" alt="UserFullName" class=" w-12 h-12 mr-5 rounded-full">
                                                <span class="text-sm mx-5 font-semibold">Name</span>
                                                <span class="text-sm mx-5 font-semibold">Quantity</span>
                                            </div>
                                            <div class="flex items-center gap-2">
                                                <span class="text-sm mx-5 font-semibold ">Unit</span>
                                            </div>
                                            <div class="flex items-center gap-2 ">
                                                <span class="bg-red-500 text-white font-bold px-3 py-2 ml-5 rounded text-xs">Remove</span>
                                            </div>



                                        </li>
                                    }


                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="flex justify-center py-5">
                        <button class=" bg-green-500 text-white py-3 px-3 rounded" type="submit">Create new project</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>



