@model dynamic

@{
    ViewBag.Title = "404";
}
<html lang="en">
<head>
    <title>404 Not found</title>
    <link rel="stylesheet" href="~/css/output.css">
</head>
<body>
<div class="flex flex-col justify-center items-center w-screen h-screen bg-base-100 text-rose-500 text-3xl font-bold gap-2">
    <h2>Oops, the page you are trying to access is no longer available or exist.</h2>
    <h3>Better check your url darling</h3>
    <img class="w-1/2 h-1/2" src="https://preview.redd.it/dtljzwihuh861.jpg?auto=webp&s=e4b3f61d71f33d047e5acc1f4214a4e295cfb5bb" alt="">
</div>
</body>
</html>