@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="/Client/css/output.css" />
<link rel="stylesheet" href="~/css/original.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />



<div class="alert-container">
    <div class="alert alert-info alert-white rounded" style="display: flex; flex-direction: column; gap: 12px;">
        <h2 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>
        <p>
        <p id="external-login-description">
            You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
            Please ensure that this is the email address registered for this site below and click the Register button to finish
            logging in.
        </p>
    </div>
</div>

<div class="row" style="display: flex; justify-content: center;">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" readonly class="form-control" autocomplete="email" placeholder="Please enter your email."/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary loading-btn">Register</button>
        </form>
    </div>
</div>

 @section Scripts {
     <partial name="_ValidationScriptsPartial" />
     <script src="js/loadingbtn.js"></script>
} 
