@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<div style="height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column">
    <h3>
        <i>Dynamics</i>
    </h3>
    <form method="post" class="card text-center" style="width: 400px;">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>
            <div data-mdb-input-init class="form-outline">
                @* <label class="form-label" for="typeEmail">Email input</label> *@
                <input asp-for="Input.Email" type="email" id="typeEmail" class="form-control my-3" placeholder="Enter your email"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <div asp-validation-summary="ModelOnly" style="ul {margin: 0; margin-bottom: 8px;}"></div>
            </div>
            <button type="submit" href="#" data-mdb-ripple-init class="btn btn-primary w-100 loading-btn">Reset password</button>
            <div class="d-flex justify-content-between mt-4">
                <a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                <a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script src="js/loadingbtn.js"></script>
}