@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<section class="vh-100">
    <div class="container py-4 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100 mx-4">
            <div class="col-md-8 col-lg-7 col-xl-6 flex justify-content-center align-content-center gap-4 flex-col text-xl font-bold">
                <h3 class="text-center">“Happiness doesn’t result from what we get, but from what we give."</h3>
                <h4 class="text-center"><i>Ben Carson</i></h4>
                <img src="~/images/loginImage.jpeg"
                     class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 ">
                <h2 class="mb-4 italic text-center font-bold"><b>Dynamics</b></h2>
                <form id="account" method="post" class="border-1 rounded-2 border-primary p-4 border-solid shadow-lg" style="background: white">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input asp-for="Input.Email" type="email" id="form1Example13" class="form-control form-control-lg"/>
                        <label asp-for="Input.Email" class="form-label" for="form1Example13">Email address</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input asp-for="Input.Password" type="password" id="form1Example23" class="form-control form-control-lg"/>
                        <label asp-for="Input.Password" class="form-label" for="form1Example23">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <!-- Checkbox -->
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe"/>
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                            class="btn btn-primary btn-lg"
                            style="width: 100%"
                            id="login">
                        Sign in
                    </button>

                    <div class="divider d-flex align-items-center justify-content-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                    </div>
                    Don't have an account ? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register here</a>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}