@model List<Dynamics.Models.Models.Dto.OrganizationOverviewDto>
@{
    ViewData["Title"] = "MyOrganization";
}
@using Dynamics.Models.Models.Dto
@using Dynamics.Utility
@using Newtonsoft.Json
@inject IHttpContextAccessor Accessor

@{
    var userString = Accessor.HttpContext.Session.GetString("user");
    User currentUser = null;
    if (userString != null)
    {
        currentUser = JsonConvert.DeserializeObject<User>(userString);
        ViewBag.userID = currentUser.UserID;
    }
}
<main class="flex flex-col items-center">
    <div class="container my-5 p-5 pt-12">
        <div class="my-5 flex justify-center">
            <h1 class="text-center text-3xl">Your organization: </h1>
        </div>
        @foreach (var item in Model)
        {
            if (!currentUser.UserID.Equals(item.OrganizationLeader.UserID)) continue; // Get the one that user is CEO of
            <partial name="CustomComponent/OverviewCard/OrganizationOverview" model="item"/>
            break; // Since is CEO of one only, we break here;
        }
    </div>

    <div class="container my-5 p-5 pt-12">
        <div class="my-5 flex justify-center">
            <h1 class="text-center text-3xl">Organization that you are a member of:</h1>
        </div>

        <div class="gap-4 flex justify-center">
            @{
                // Get only the organization that user is member of:
            }
            @foreach (var item in Model)
            {
                if (currentUser.UserID.Equals(item.OrganizationLeader.UserID)) continue; // Skip the one that user is CEO of
                // The card already check the status of the user
                <partial name="CustomComponent/OverviewCard/OrganizationOverview" model="item"/>
            }
        </div>

    </div>
</main>