@{
    ViewData["Title"] = "Home Page";
}


<!-- Image that wrap the whole first part -->
<div class="relative w-full min-h-screen bg-gray-800 text-white">
    <img src="~/Client/assets/landingpageRemake.jpg"
         alt="Hero image"
         class="w-full h-full z-0 absolute pointer-events-none opacity-40 object-cover" />
    <!-- transparent navbar for impact -->
    <nav class="flex justify-around p-4 bg-transparent z-20 absolute w-full items-center">
        <h1 class="text-2xl italic font-bold">Dynamics</h1>
        <button class="btn btn-ghost text-xl">Login</button>
    </nav>

    <!-- Hero: big text + button to sign up -->
    <div class="flex z-10 flex-col justify-center items-center gap-4 absolute top-0 bottom-0 left-0 right-0 text-white drop-shadow-md">
        <h1 class="text-5xl italic font-bold">Volunteer <b>make easy</b></h1>
        <h3 class="text-xl">
            Start your easy, manageable and transparent volunteer journey for
            <span class="text-emerald-400 font-bold">FREE!</span>
        </h3>
        <form asp-area="Client" asp-controller="Users" asp-action="Index">
            <button type="submit" class="btn rounded-btn bg-emerald-500 text-white hover:bg-emerald-600 outline-none border-none">Get started</button>
        </form>
    </div>
</div>
