@model Dynamics.Models.Models.Dto.VnPayResponseDto

@{
    ViewData["Title"] = "Payment failed";
    Layout = "_Layout";
    var returnUrl = Accessor.HttpContext.Session.GetString("paymentRedirect") ?? "~/";
}
@if (Model == null)
{
    <script type="text/javascript">
        window.location.href = '@Url.Action("Index", "Home")';
    </script>
}
else
{
    <main class="w-full min-h-screen flex flex-col gap-4 items-center justify-center">
        <div class="relative w-full max-w-screen-lg rounded shadow-md flex flex-col gap-4 p-16 border">
            <p class="text-6xl text-center text-error mb-4">
                <i class="fa-solid fa-circle-exclamation"></i>
            </p>
            <h1 class="font-bold text-center text-3xl text-success">Payment failed!</h1>
            @switch (Model.VnPayResponseCode)
            {
                case "11":
                    <p class="text-center font-bold text-xl">Payment timeout, please try again!</p>
                    break;
                case "24":
                    <p class="text-center font-bold text-xl">Payment canceled.</p>
                    break;
                case "51":
                    <p class="text-center font-bold text-xl">Not enough money to donate.</p>
                    break;
                default:
                    <p class="text-center font-bold text-xl">Something went wrong, please try again.</p>
                    break;
            }
            <a class="btn btn-primary btn-md mx-auto" href="@returnUrl">Go back</a>
        </div>
    </main>
}