
@{
    Layout = "_Layout";
}

<div class="container my-5 p-5">
    <div class=" w-full mx-auto p-6 bg-white shadow-lg rounded-lg mt-10">
        
        <partial name="CustomComponent/_DetailOrganization" />

        
        @RenderBody()
    </div>
</div>
