<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Dynamics</title>
    @* This layout should not contains anybootstrap stuff at all *@
    <link href="css/original.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/output.css">
    <link
        href="https://cdn.jsdelivr.net/npm/@@splidejs/splide@4.1.4/dist/css/splide.min.css"
        rel="stylesheet"
    />
</head>
<body class="bg-base-100 relative">
<partial name="CustomComponent/_Navbar"/>
@* A box to push away from the navbar *@
<div class="w-full" style="height: 80px;">
</div>
@RenderBody()


@* This is used for icons *@
<script src="https://kit.fontawesome.com/ba8c3661b4.js" crossorigin="anonymous"></script>
@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
@* <script src="~/js/site.js" asp-append-version="true"></script> *@
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>