@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    // ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

 <link rel="stylesheet" href="~/css/original.css" />
 <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <link rel="stylesheet" href="/Client/css/output.css" />
    <script src="/scripts/jquery.js"></script>
    <!-- jQuery -->

    <!-- Navbar -->
    <div class="navbar bg-slate-300-400 shadow-md">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl"><i>Dynamics</i></a>
        </div>
        <div class="flex gap-4">
            <div tabindex="0"
                 role="button"
                 class="btn btn-ghost text-rose-600 hover:bg-rose-600 hover:text-white">
                <div class="indicator">Request Help</div>
            </div>
            <div tabindex="0"
                 role="button"
                 class="btn btn-ghost text-emerald-600 hover:bg-emerald-600 hover:text-white">
                <div class="indicator">Volunteer</div>
            </div>

            <div tabindex="0"
                 role="button"
                 class="btn btn-ghost text-orange-600 hover:bg-orange-600 hover:text-white">
                <div class="indicator">Organization</div>
            </div>

            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <!-- TODO: Insert username avatar here -->
                    <div class="w-20 rounded-full">
                        <img alt="{user.name}" src="https://i.ytimg.com/vi/pX3l21wyX88/maxresdefault.jpg" />
                    </div>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                    <li>
                        <a class="justify-between">Profile</a>
                    </li>
                    <li>
                        <a>Settings</a>
                    </li>
                    <li class="text-rose-500">
                        <a class="flex justify-between" asp-action="Logout" asp-controller="Auth">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End navbar -->
    <!-- Edit profile -->

    <div class="flex md:p-6 pb-0 flex-1">
        <!-- Sidebar -->
        <div class="p-2 pt-5 w-1/5">
            <ul class="flex flex-col gap-2">
                <a asp-action="Index" asp-controller="EditUser" class="btn btn-ghost text-start"> Back to home </a>
            <a class="justify-between" asp-action="Edit" asp-controller="EditUser" asp-route-id="@ViewBag.CurrentUserId">Profile</a>
                <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" class="btn btn-ghost text-start"> Change password </a>
            </ul>
        </div>

        <!-- End sidebar -->
@* <partial name="_StatusMessage" for="StatusMessage" /> *@
<div class="row">
    <div class="col-md-12">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
        </form>
        </div>
    </div>
</div>

@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@
