
@{
    ViewData["Title"] = "Announce";

}
<div class="pt-12"></div>
<div class=" p-5 pt-12 flex justify-center items-center">
    <div class="bg-white  p-8 rounded-lg shadow-md text-center">
        <div class="mt-10 mb-10">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-16 h-16 text-green-500 mx-auto my-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                <polyline points="22 4 12 14.01 9 11.01"></polyline>
            </svg>
        </div>
        
        <h1 class="text-2xl font-bold py-5">
            Your project has been created successfully!
        </h1>
        <div class="py-5">
            <button class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition-colors">
                Back to home
            </button>
        </div>
        
    </div>
</div>

