@using Dynamics.Utility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.IdentityModel.Tokens
@using Newtonsoft.Json
@model Dynamics.Models.Models.ViewModel.HomepageViewModel

@{
    ViewData["Title"] = "HomePage";
    var isAuthenticated = User.Identity.IsAuthenticated;
    if (!isAuthenticated)
    {
        Layout = "CustomLayout/_LayoutForGuest";
    }
    else
    {
        Layout = "CustomLayout/_LayoutWithNavbarAndImage";
    }
    var userString = Accessor.HttpContext.Session.GetString("user");
    User currentUser = null;
    if (userString != null)
    {
        currentUser = JsonConvert.DeserializeObject<User>(userString);
        ViewBag.UserID = currentUser.UserID; // Uses to pass to the cards
    }
}

<!-- The body of the home page -->
<div class="-mt-12 z-10 relative bg-white rounded-3xl px-8 py-16 flex flex-col gap-20">
<h1 class="text-center text-3xl text-primary font-bold align-with-navbar-center">
    Help requests
</h1>
<!-- Help request section -->
@if (Model.Requests.IsNullOrEmpty())
{
    <h3 class="text-center text-neutral italic text-2xl">Nobody is here to help.</h3>
}
<section class="flex flex-col justify-center items-center splide"
         aria-labelledby="carousel-heading">
    @if (!Model.Requests.IsNullOrEmpty())
    {
        <a asp-controller="Request" asp-action="Index" class="w-full text-end text underline text-blue-700 font-bold">
            View more request &rarr;
        </a>
        <div class="splide__track flex w-10/12 py-8 px-8">
            <!-- List of request cards -->
            <ul class="splide__list w-full">
                <!-- Card -->
                @{
                    if (!Model.Requests.IsNullOrEmpty())
                    {
                        foreach (var request in Model.Requests)
                        {
                            if(request.Status != 1) continue; // Skip the one that has not been pending(0) accepted by organization(2) banned(-1)
                            <partial name="CustomComponent/OverviewCard/RequestOverview" model="request"/>
                        }
                    }
                }
            </ul>
            <!-- End cards -->
        </div>
    }
</section>
<!-- End help request section -->
<div class="divider"></div>
<h1 class="text-center text-3xl text-primary font-bold carousel-heading align-with-navbar-center">
    Ongoing charity projects
</h1>
<!-- View charity projects section -->
@if (Model.Projects.IsNullOrEmpty())
{
    <h3 class="text-center text-neutral italic text-2xl">
        No projects available, maybe the world is already a better
        place ?
    </h3>
}
<section class="flex flex-col justify-center items-center splide section"
         aria-labelledby="carousel-heading">
    @if (!Model.Projects.IsNullOrEmpty())
    {
        <a asp-controller="Project" asp-action="ViewAllProjects" class="w-full text-end text underline text-blue-700 font-bold">
            View more projects &rarr;
        </a>
        <div class="splide__track flex w-10/12 py-8 px-8">
            <!-- List of cards -->
            <ul class="splide__list w-full">
                <!-- Card -->
                @{
                    @if (!Model.Projects.IsNullOrEmpty())
                    {
                        foreach (var projectOverviewDto in Model.Projects)
                        {
                            if (projectOverviewDto.ProjectStatus is 2 or -1) continue; // Skip the finished && banned
                            <partial name="CustomComponent/OverviewCard/ProjectsOverview" model="projectOverviewDto"/>
                        }
                    }
                }
            </ul>
            <!-- End cards -->
        </div>
    }

</section>
<!-- End view charity projects section -->
<div class="divider"></div>
<h1 class="text-center text-3xl text-primary font-bold carousel-heading align-with-navbar-center">
    Active organizations
</h1>
<!-- View ORGANIZATION section -->
@if (Model.Organizations.IsNullOrEmpty())
{
    <h3 class="text-center text-neutral italic text-2xl">No organizations present. Lonely isn't it</h3>
}
<section class="flex flex-col justify-center items-center splide section"
         aria-labelledby="carousel-heading">
    @if (!Model.Organizations.IsNullOrEmpty())
    {
        <a asp-controller="Organization" asp-action="Index" class="w-full text-end text underline text-blue-700 font-bold">
            View more organizations &rarr;
        </a>
        <div class="splide__track flex w-10/12 py-8 px-8">
            <!-- List of cards -->
            <ul class="splide__list w-full">
                <!-- Card -->
                @{
                    if (!Model.Organizations.IsNullOrEmpty())
                    {
                        foreach (var modelOrganization in Model.Organizations)
                        {
                            <partial name="CustomComponent/OverviewCard/OrganizationOverview" model="modelOrganization"/>
                        }
                    }
                }
            </ul>
            <!-- End cards -->
        </div>
    }

</section>
<!-- End view charity projects section -->
<div class="divider"></div>


<!-- View SUCCESSES CHARITY section -->
<h1 class="text-center text-3xl text-primary font-bold carousel-heading align-with-navbar-center">
    Succeed charities
</h1>
@if (Model.Projects.IsNullOrEmpty())
{
    <h3 class="text-center text-neutral italic text-2xl">
        No successful projects presents, one day your project could
        be here.
    </h3>
}
<section class="flex flex-col justify-center items-center splide section"
         aria-labelledby="carousel-heading">
    @if (!Model.Projects.IsNullOrEmpty())
    {
        <a href="#" class="w-full text-end text underline text-blue-700 font-bold">
            View succeed charities &rarr;
        </a>
        <div class="splide__track flex w-10/12 py-8 px-8">
            <!-- List of cards -->
            <ul class="splide__list w-full">
                <!-- Card -->
                @{
                    foreach (var projectOverviewDto in Model.Projects)
                    {
                        if(projectOverviewDto.ProjectStatus != 2) continue; // Skip the unfinished ones
                        <partial name="CustomComponent/OverviewCard/ProjectsOverview" model="projectOverviewDto"/>
                    }
                }
            </ul>
            <!-- End cards -->
        </div>
    }


</section>
<!-- End view charity projects section -->
</div>
<!-- End body -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<partial name="_ValidationScriptsPartial"/>
<script src="https://cdn.jsdelivr.net/npm/@@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        Splide.defaults = {
            // perPage: 3,
            rewind: true,
            // type: "loop",
            perMove: 1,
            padding: "2rem",
            fixedWidth: "24rem",
            gap: "2rem",
            breakpoints: {
                900: {
                    fixedWidth: "250px",
                },
            }
        };
        var elms = document.getElementsByClassName("splide");
        for (var i = 0; i < elms.length; i++) {
            new Splide(elms[i]).mount();
        }
    });
</script>