<!DOCTYPE html>
<html lang="en" data-them="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CharityActivityWebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CharityActivityWebApplication.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Client/css/output.css" asp-append-version="true"/>
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
</head>
<body>
    @RenderBody()
</body>
</html>
