@model string
<!-- Sidebar -->
<div class="p-2 pt-12 w-full max-w-52 relative">
    <ul class="flex flex-col gap-2 sticky top-1/4">
        @{
            if (Model.Equals("Edit", StringComparison.OrdinalIgnoreCase))
            {
                <a asp-action="Edit" asp-controller="User" class="btn btn-ghost text-start btn-active"> Change profile </a>
            }
            else
            {
                <a asp-action="Edit" asp-controller="User" class="btn btn-ghost text-start"> Change profile </a>
            }
        }
        @{
            if (Model.Equals("Account", StringComparison.OrdinalIgnoreCase))
            {
                <a asp-action="Account" asp-controller="User" class="btn btn-ghost text-start btn-active"> Account </a>
            }
            else
            {
                <a asp-action="Account" asp-controller="User" class="btn btn-ghost text-start"> Account </a>
            }
        }
        @{
            if (Model.Equals("History", StringComparison.OrdinalIgnoreCase))
            {
                <a asp-action="History" asp-controller="User" class="btn btn-ghost text-start btn-active"> History </a>
            }
            else
            {
                <a asp-action="History" asp-controller="User" class="btn btn-ghost text-start"> History </a>
            }
        }
        <a href="settings/awards" class="btn btn-ghost text-start"> Awards </a>
    </ul>
</div>
<!-- End sidebar -->