<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Dynamics</title>
    @* This layout should not contains anybootstrap stuff at all *@
    <link rel="stylesheet" href="~/css/original.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/output.css">
    <link
        href="https://cdn.jsdelivr.net/npm/@@splidejs/splide@4.1.4/dist/css/splide.min.css"
        rel="stylesheet"/>
</head>
<body class="bg-base-100 relative">
<partial name="CustomComponent/_Navbar"/>
@* A box to push away from the navbar *@
<partial name="CustomComponent/_NavbarBox"/>

@RenderBody()


@* This is used for icons *@
<script src="https://kit.fontawesome.com/ba8c3661b4.js" crossorigin="anonymous"></script>
@await RenderSectionAsync("Scripts", required: false)
<script src="~/js/myJquery.js"></script>
@* <partial name="CustomComponent/_SweetAlert"/> *@
@* <partial name="CustomComponent/_ToastNotif"/> *@
<partial name="_ValidationScriptsPartial"/>
<partial name="CustomComponent/_Footer"/>
</body>
</html>