<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dynamics</title>
    @* This layout should not contains anybootstrap stuff at all *@
    <link rel="stylesheet" href="~/css/original.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css">
    <link href="https://cdn.jsdelivr.net/npm/@@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet" />
</head>
<body class="bg-base-100 relative">
    <!-- Image that wrap the whole first part -->
    <div class="relative w-full min-h-screen bg-gray-800 text-white">
        <img src="~/images/landingpageRemake.jpg"
             alt="Hero image"
             class="w-full h-full z-0 absolute pointer-events-none opacity-40 object-cover" />
        <!-- transparent navbar for impact -->
        <nav class="flex justify-around p-4 bg-transparent z-20 absolute w-full items-center position-fixed">
            <h1 class="text-2xl italic font-bold">Dynamics</h1>
            <div class="flex gap-2">
                <a class="btn btn-ghost text-xl hover:bg-emerald-500 transition-all duration-150 text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
                <a class="btn btn-ghost text-xl hover:bg-emerald-500 transition-all duration-150 text-white" asp-area="Identity" asp-page="/Account/Register">Sign up</a>
            </div>
        </nav>

        <!-- Hero: big text + button to sign up -->
        <div class="flex z-10 flex-col justify-center items-center gap-4 absolute top-0 bottom-0 left-0 right-0 text-white drop-shadow-md">
            <h1 class="text-5xl italic font-bold">Volunteer <b>make easy</b></h1>
            <h3 class="text-xl">
                Start your easy, manageable and transparent volunteer journey for
                <span class="text-emerald-400 font-bold">FREE!</span>
            </h3>
            <a asp-area="Identity" asp-page="/Account/Login"
               class="btn rounded-btn bg-emerald-500 text-white hover:bg-emerald-600 outline-none border-none">
                Get started
            </a>
        </div>
    </div>

    @RenderBody()


    @* This is used for icons *@
    <script src="https://kit.fontawesome.com/ba8c3661b4.js" crossorigin="anonymous"></script>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
    <partial name="CustomComponent/_Footer" />
</body>
</html>